<nz-table #currenciesTable nzBordered [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzData]="listOfData"
  [nzLoading]="wait" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="count" (nzPageIndexChange)="search()"
  (nzPageSizeChange)="search(true)">
  <thead>
    <tr>
      <th>Название</th>
      <th>Значение</th>
      <th>Обменнник</th>
      <th>Город</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of currenciesTable.data">
      <td>{{ data.name}}</td>
      <td>{{ data.value}}</td>
      <td>{{ data.exchanger}}</td>
      <td>{{ data.city}}</td>
    </tr>
  </tbody>
</nz-table>
<div class="rows-count">Количество: {{ total + count}}</div>