<div class="fill-container bg-cwhite bs-1 pd-20">
  <h2>Обменники</h2>
  <br>
  <button nz-button (click)="openModal()" nzType="primary">Добавить</button>
  <br>
  <br>

  <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div nz-col nzSpan="8">
      <nz-form-label [nzSpan]="10" nzFor="code">Наименование</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="name" [(ngModel)]="name">
      </nz-form-control>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button nzType="primary" (click)="search(true)">Пойск</button>
    </div>
  </div>

  <nz-table #exchangeTable nzBordered [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzData]="listOfData"
    [nzLoading]="wait" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="count" (nzPageIndexChange)="search()"
    (nzPageSizeChange)="search(true)">
    <thead>
      <tr>
        <th>Название</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Город</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of exchangeTable.data">
        <td>{{ data.name}}</td>
        <td>{{ data.phone}}</td>
        <td>{{ data.address}}</td>
        <td>{{ data.city}}</td>
        <td>
          <a (click)="edit(data)">Редактировать</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Удалить</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="rows-count">Количество: {{ total + count}}</div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Добавить город" nzWidth="850" (nzOnCancel)="cancelModal()">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="name" nzRequired>Наименование</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="name" nzRequired>Телефон</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="phone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="name" nzRequired>Адрес</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="name" nzRequired>Город</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="cityId">
          <nz-option *ngFor="let doc of cities" [nzLabel]="doc.name" [nzValue]="doc.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Отмена</button>
      <button nz-button nzType="primary" (click)="save()" [nzType]="'primary'" [nzLoading]="isOkLoading">
        Сохранить
      </button>
    </div>

  </form>

</nz-modal>